<div class="div-48">
  <div class="div-49">
    <button class="div-50">حجز تذكرة جديدة</button>
    <div class="div-51">مفعلة</div>
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitch1">
      <label class="custom-control-label" for="customSwitch1"></label>
    </div>
          </div>
  <div class="div-52">
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/73ada892449cb71dc1a9ac640de489e079591314e612151aa1ce236fe6397994?apiKey=56b3eaf074254bf6b0c47ab166da0998&"
      class="img-13 clickable-item"
    />
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/2a1e29bb0e6b28254114f1c57e3f7812bf8772061140c925936d8d6b89ee76a9?apiKey=56b3eaf074254bf6b0c47ab166da0998&"
      class="img-14 clickable-item"
    />
    <div class="div-53">
      <div class="div-54">
        <input
          type="text"
          class="inputsearch "
          placeholder="... بحث عن"
        />
      </div>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/e5f23a84bd6770ef05eaba4ee6e6a07a5d8475af282e6e64b32e08baed4ae3c8?apiKey=56b3eaf074254bf6b0c47ab166da0998&"
        class="img-15 clickable-item"
      />
    </div>
    <div class="div-55">مبيعات التذاكر</div>
  </div>
</div>
