<div class="div-2">
  <div class="div-3">
    <button class="div-4">تعديل</button>
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/cfa63388c59526d391c4daaedb5208593d7ad5083c77317dcdc36440a3c562d1?apiKey=56b3eaf074254bf6b0c47ab166da0998&"
      class="img"
    />
  </div>
  <div class="div-5">
    <div class="div-6">تذكرة رقم #2342</div>
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/8171f2df425a7ff45037bd0c32e1b642c22f8ca8c1dd372198ef35c209d5dc03?apiKey=56b3eaf074254bf6b0c47ab166da0998&"
      class="img-2"
    />
  </div>
</div>
